.app {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.login-card {
  width: 400px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px gray;
  background: white;
}

.login-card h1 {
  color: #1e3a8a;
}

.login-btn,
.logout-btn {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.login-btn {
  background: green;
}

.logout-btn {
  background: crimson;
}

.login-btn:hover {
  background: darkgreen;
}

.logout-btn:hover {
  background: darkred;
}

.success {
  color: green;
}

.guest {
  color: gray;
}