body{
font-family:Arial;
padding:20px;
background:#f4f4f4;
}

.card{
padding:15px;
margin:10px;
border:1px solid gray;
border-radius:8px;
background:white;
}

input{
padding:10px;
margin:8px;
}

button{
padding:10px 20px;
}