ALL/22-05-26 web devlopment practice session.zip ALL/25-05-2026.zip ALL/26-05-2026.zip ALL/27-05-2026.zip ALL/28-05-2026.zip ALL/29-05-2026.zip ALL/index.html ALL/inline.html ALL/internal.html ALL/joinarray.html ALL/jsfunctions.html ALL/jsobjects.html ALL/margin.html ALL/margins.css ALL/mediaquery.html ALL/padding.css ALL/parent.jsx ALL/picture.html ALL/pop.html ALL/practic.html ALL/promises.js ALL/pseudoclass.html ALL/push.html ALL/react.jsx ALL/RECURSIVE.JS ALL/shift.html ALL/splice.html ALL/state.jsx ALL/style.css ALL/style.html ALL/switch.j ALL/switch.js ALL/TABLE.HTML ALL/task1 01-06-2026.zip ALL/ternary.js ALL/text.html ALL/trycatchfinally.js ALL/universal.css ALL/unshift.html ALL/use.jsx ALL/Web devolpment practice session.zip ALL/Web devolpment training session.zip ALL/while.js