.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    background: rgb(226, 162, 162);
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
}